<template name='setNightOut'>

    <div class="row">
      <div class="col s12 center-align">
        <div class="promo promo-example">
          <p class="light flow-text">We need to find out what bars are nearby. Allow Night Out to see your current location</p>
        </div>
      </div>
    </div>

  {{> map }}

  <br>

  <div class="row" style="margin-bottom: 0px;">
    <div class="small-12 medium-10 large-10 small-centered columns">
      {{> targetList }}
    </div>
  </div>

</template>
