<template name='setNightOut'>

  <div class="row purple lighten-2 z-depth-1">
    <div class="small-12 medium-10 large-10 small-centered columns">
      <div class="header panel">

        <div class="row">
          <div class="col s12 center-align">
            <h3 class="white-text">How To:</h3>
          </div>
          <div class="col s4 center-align">
            <div class="center promo promo-example">
              <i class="center material-icons circle">my_location</i>
              <h4 class="promo-caption white-text">Location</h4>
              <p class="light center flow-text">Allow Night Out to access your current location by hitting 'Allow'.</p>
            </div>
          </div>
          <div class="col s4 center-align">
            <div class="center promo promo-example">
              <i class="material-icons circle">done</i>
              <h4 class="promo-caption white-text">Select</h4>
              <p class="light center flow-text">Select the bars you want your friends to vote on from the list below, then press "Start your night out".</p>
            </div>
          </div>
          <div class="col s4 center-align">
            <div class="center promo promo-example">
              <i class="material-icons circle">thumb_up</i>
              <h4 class="promo-caption white-text">Share</h4>
              <p class="light center flow-text">Send out the link to your friends to have them vote on the bar they want to go to tonight.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {{> map }}
  <br>

  <div class="row">
    <div class="small-12 medium-10 large-10 small-centered columns">
      {{> targetList }}
    </div>
  </div>

</template>
