<template name="finalTargetListItem">
  {{getPlanId}}

  <li class="collection-item avatar">
    <div class="alert-box secondary">
      <img src={{icon}} alt="" class="circle">
      <span class="title">{{name}}</span>
      <p>
      <p class='time' id='time'>{{getUberTime}}</p>
      <p class='money' id='money'>ESTIMATING COST OF RIDE</p>
      <span class="badge">
        <div class="chip">
          {{ votes }}
          <i class="material-icons">favorite_border</i>

        </div>
      </span>
      Rating: {{ rating }}
      </p>
      <div type="radio" id='radio_{{placeId}}' class="styled-checkbox"></div>
      <div class="ride_btn"><a class="ride_btn secondary-content"><button class="btn waves-effect waves-light red"
            type="submit" style="right" name="action">Need a Ride?</button></a></div>
    </div>
  </li>

</template>