<template name="finalizePlan">

  {{> howTo }}

  <div class="row">
    <div class="small-12 medium-10 large-10 small-centered columns">
        {{getAllFinalTargets}}
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-10 large-10 small-centered columns">
      <div class="center">
        <div class="map-container center z-depth-4">
          {{getLaunchID}}

          {{#unless geolocationError}}
            {{> googleMap name='map' options=mapOptions}}
          {{else}}
            Geolocation failed: {{geolocationError}}
          {{/unless}}
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 0px;">
    <div class="small-12 medium-10 large-10 small-centered columns">
      {{> finalLaunchList }}
    </div>
  </div>

</template>


