<template name="footer">



  <footer class="page-footer">
  <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <div class="row">
          <div class="col m4 s6"><ul>
          <li><a href="http://docs.closeheatapp.com" target="_blank">Docs</a></li>
          <li><a href="/#pricing">Pricing</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/blog">Blog</a></li>
          </ul></div>
          <div class="col m4 s6"><ul>
          <li><a href="https://www.facebook.com/closeheatapp">Facebook</a></li>
          <li><a href="https://plus.google.com/+closeheatapp">Google+</a></li>
          <li><a href="https://twitter.com/closeheatapp">Twitter</a></li>
          </ul></div>
          </div>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2015 Joe Carlson
      <a class="grey-text text-lighten-4 right" href="http://www.callmejoe.net">See more projects by Joe at callmejoe.net</a>
      </div>
    </div>
  </footer>

</template>