<template name="footer">
  <footer class="page-footer z-depth-4" style="margin-top: 0px; padding-top: 0px;">

    <div class="container">

      <div class="row">
        <br>
      </div>

      <div class="row">
        <div class="col m6 left">
          <a href="{{openGitHubCode}}" target="_blank" class="btn btn-github">
            <i class="fa fa-github"></i>
          </a>
        </div>
        <div class="col m6 s12 right">

          <a href="{{shareOnFacebookLink}}" target="_blank" class="btn btn-facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="{{shareOnTwitterLink}}" target="_blank" class="btn btn-twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="{{shareOnGooglePlusLink}}" target="_blank" class="btn btn-google-plus">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-copyright z-depth-2">
      <div class="container">
        © 2015
        <a class="grey-text text-lighten-4 right" href="http://www.callmejoe.net">See more projects by Joe at callmejoe.net</a>
      </div>
    </div>

  </footer>
</template>